<div class="nav">
    <div class="nav_nav">
        <a class="nav_a1" href="{{ site.baseurl }}/">首页</a>
        <a href="{{ site.baseurl }}/categories/">分类</a>
        <a class="nav_a1" href="{{ site.baseurl }}/wiki/">维基</a>
        <a href="{{ site.baseurl }}/links/">链接</a>
        <a class="nav_a1" href="{{ site.baseurl }}/about/">关于</a>
    </div>
    <div class="nav_rss"><a href="{{ site.baseurl }}/sitemap.xml" style="display:none;">SITEMAP</a><a href="{{ site.baseurl }}/feed.xml" target="_blank">订阅</a></div>
</div>
